.current {
    background-color: gray;
}


.nav-bar {
    background-color: black;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5;
}

.nav-bar li a {
    color: white;
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    font-size: 25;
    padding: 10px 15px;
}

.nav-bar li:hover {
    background-color: gray;
}