.current {
    background-color: gray;
}


.nav-bar {
    background-color: black;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 5px;
}

.nav-bar li a {
    color: white;
    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
    font-size: 1rem;
    padding: 10px 15px;
}

.nav-bar li:hover {
    background-color: gray;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
}